[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=simple
User={{etcd_user}}
WorkingDirectory={{etcd_data_dir}}/
EnvironmentFile=-/etc/etcd/etcd.conf
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/local/bin/etcd"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
