---
- name: install etcd.service systemd unit
  become: true
  become_user: root
  register: etcd_service_modified
  with_items:
    - f: etcd.service
      d: /etc/systemd/system
  ansible.builtin.template:
    src: '{{ item.f }}.j2'
    dest: '{{ item.d }}/{{ item.f }}'
    mode: '{{ item.m | default("0644") }}'

- name: systemctl daemon-reload
  become: true
  become_user: root
  when: etcd_launch and etcd_service_modified is changed
  ansible.builtin.systemd:
    daemon_reload: true

- name: launching etcd...
  when: etcd_launch
  become: true
  become_user: root
  ansible.builtin.service:
    name: etcd
    enabled: true
    state: started
